.table-wrapper :global .ant-table-title {
  padding: 0 !important;
  background-color: var(--antd-wave-shadow-color);
}

.table-wrapper :global .ant-table-content {
  overflow: auto;
}

.table-wrapper :global .ant-table-container {
  border: none !important;
}